<div class="cart-item">
  <h3>{{pizza.name}} - {{pizza.size.name}} - {{pizza.price | currency:'GBP':'symbol' }}</h3>
  <!-- <app-size [pizza]=pizza></app-size> -->
  <!-- <app-pizza-size [pizza]=pizza (sizeChange)="sizeChanged($event)"></app-pizza-size> -->
  <app-pizza-option option="size" [pizza]=pizza (optionChange)="optionChanged($event)"></app-pizza-option>
  
  <app-topping-list [toppings]=pizza.toppings></app-topping-list>
  <div class="controls">
    <button (click)="removeItem()">Remove</button>
    <button [routerLink]="['/cart', index]">Customise</button>
  </div>
</div>
