:host {

  nav {
    display: block;
    width: 100%;
    background-color: red;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF4136;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #8b0000;
  }
  
  .active {
    background-color: #4CAF50;
  }


}