<div class="item-main">
  <div class="item-description">
    <h3>{{pizza.name}}</h3>
    <app-topping-list [toppings]=pizza.toppings></app-topping-list>
  </div>
  <div class="item-image">
    <img src="assets/images/pizza.png">
  </div>
</div>
<div class="item-footer">
  <app-pizza-option option="size" [pizza]="pizza" (optionChange)="sizeChanged($event)"></app-pizza-option>
  <!-- <button (click)="customiseItem()">Customise</button> -->
  <button [routerLink]="['/menu/customise', pizza.id]">Customise</button>
  <button (click)="addItem()">Add</button>
</div>
